.btn.btn-sla-again {
    padding-top: .10rem;
    padding-bottom: .10rem;
    width: 80%;
    color: #ffffff !important;
    background-color: #0e7cf1bb !important;
}
.btn.btn-sla-again:hover {
    background-color: #006ce0bb !important;
}


.btn.btn-sla-delete {
    padding-top: .10rem;
    padding-bottom: .10rem;
    width: 80%;
}

.table td.td-sla-delete {
    text-align: center;
}

.table td.td-sla-again {
    text-align: center;
}

.sla-h2 {
    width: 100%;
}

.sla-table-container {
    display: none;
}